In [5]:
# Initial List
L = [11, 12, 13, 14]

In [6]:
# (i) Add 50 and 60 to L
L.append(50)
L.append(60)
print("After adding 50 and 60:", L)

After adding 50 and 60: [11, 12, 13, 14, 50, 60]

In [7]:
# (ii) Remove 11 and 13 from L
L.remove(11)
L.remove(13)
print("After removing 11 and 13:", L)

After removing 11 and 13: [12, 14, 50, 60]

In [8]:
# (iii) Sort L in ascending order
L.sort()
print("Sorted in ascending order:", L)

Sorted in ascending order: [12, 14, 50, 60]

In [9]:
# (iv) Sort L in descending order
L.sort(reverse=True)
print("Sorted in descending order:", L)

Sorted in descending order: [60, 50, 14, 12]

In [10]:
# (v) Search for 13 in L
search_element = 13
if search_element in L:
    print(f"{search_element} is present in the list.")
else:
    print(f"{search_element} is not present in the list.")

13 is not present in the list.

In [11]:
# (vi) Count the number of elements present in L
count = len(L)
print("Number of elements in L:", count)

Number of elements in L: 4

In [12]:
# (vii) Sum all the elements in L
total_sum = sum(L)
print("Sum of all elements in L:", total_sum)

Sum of all elements in L: 136

In [13]:
# (viii) Sum all ODD numbers in L
odd_sum = sum(x for x in L if x % 2 != 0)
print("Sum of all odd numbers in L:", odd_sum)

Sum of all odd numbers in L: 0

In [14]:
# (ix) Sum all EVEN numbers in L
even_sum = sum(x for x in L if x % 2 == 0)
print("Sum of all even numbers in L:", even_sum)

Sum of all even numbers in L: 136

In [15]:
# (x) Sum all PRIME numbers in L
def is_prime(n):
    if n <= 1:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False
    for i in range(3, int(n**0.5) + 1, 2):
        if n % i == 0:
            return False
    return True

In [16]:
prime_sum = sum(x for x in L if is_prime(x))
print("Sum of all prime numbers in L:", prime_sum)

Sum of all prime numbers in L: 0

In [17]:
# (xi) Clear all the elements in L
L.clear()
print("List after clearing all elements:", L)

List after clearing all elements: []

In [18]:
# (xii) Delete L
del L
try:
    print(L)
except NameError:
    print("L is deleted.")

L is deleted.